.bold {
  font-weight: bold;
}

.brand-logo {
  font-family: 'Press Start 2P', cursive;
  margin-left: 5%;
  font-size: 24px !important;
}

.card-panel {
  h6 {
    line-height: 23px;
  }
}

h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
}